body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-family: 'Audiowide', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.nav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: purple;
}

.main {
  display: flex;
  width: 100%;
  height: 50rem;
  
  z-index: 0;
}

.left {
  background-color: red;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
}

.user {
  /* background-color: yellow; */
  width: 30%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.user-image-card{
  width: 17rem;
  position: fixed;
  z-index: 1;
}

.user-image{
  width: 13rem;
  margin-top:1.5rem;
}

.user-image0{
  width: 14rem;
  margin-top:0.65rem;
}

.user-title{
  color: white;
  width: 90%;
  height: 15%;
  margin-top: 0.55rem;
  margin-bottom: 0;
  z-index: 2;
  font-size: 2rem;
}

.user-health{
  z-index: 2;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.user-attack {
  z-index: 2;
  font-size: 1.5rem;
}

.info-container {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: black;
  width: 90%;
  height: 30%;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.info-title{
  position: fixed;
  background-color: rgb(31, 244, 31);
  border-radius: 10%;
  box-shadow: 0px -5px 30px rgb(31, 244, 31);
  
}

.info{
  margin-top: 3rem;
  color: rgb(31, 244, 31);
  font-family: 'Roboto Mono', monospace;
}

.flashing {
  animation: flash 1s infinite;
  background-color: red;
  border-radius: 10%;
  box-shadow: 0px -5px 30px red;
}

.info-update{
  background-image: url('./components/images/Control-Panel.gif');
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.inv-container{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  width: 90%; 
}

.inv{
  font-size: 1rem;
}

.right{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

.middle {
  height: 60%;
  width: 100%;
  position: relative;
}

.story{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
overflow: hidden;
}

.stars-video{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
}

.cockpit-png{
position: fixed;
z-index: 1;
}

.left-window{
  position: fixed;
  top: 17rem;
  left: 47rem;
  width: 10rem;
  height: 10rem;
  z-index: 1;
  
}

.right-window{
  position: fixed;
  top: 21rem;
  left: 83rem;
  width: 10px;
  height: 10px;
  z-index: 1;
  background-color: rgb(51, 255, 0);
}

.middle-window{
  position: fixed;
  top: 9rem;
  left: 62rem;
  width: 11rem;
  height: 11rem;
  z-index: 1;
}

.middle-window2{
  position: fixed;
  top: 4rem;
  left: 55rem;
  width: 23em;
  height: 23rem;
  z-index: 0;
}

.middle-window3{
  position: fixed;
  top: 8rem;
  left: 60rem;
  width: 10em;
  height: 10rem;
  z-index: 0;
}

.middle-window4{
  position: fixed;
  top: 11rem;
  left: 63.5rem;
  width: 7rem;
  height: 7rem;
  z-index: 0;
}

.middle-window5{
  position: fixed;
  top: 8rem;
  left: 63.58rem;
  width: 7rem;
  height: 7rem;
  z-index: 1;
}

.middle-window6{
  position: fixed;
  top: 0rem;
  left: 48.58rem;
  width: 30rem;
  height: 30rem;
  z-index: 0;
}

.middle-window7{
  position: fixed;
  top: 9rem;
  left: 62rem;
  width: 10rem;
  height: 10rem;
  z-index: 0;
}

.middle-window7{
  position: fixed;
  top: 0;
  left: 58rem;
  width: 13rem;
  height: 13rem;
  z-index: 0;
}

.planet1-land{
  position: fixed;
  z-index: -1;
  width: 65.5%;
  height: 55%;
}

.offering {
  position: fixed;
  z-index: -1;
  width: 65.5%;
  height: 55%;
}



.booster1{
  position: fixed;
  z-index: 1;
  width: 6rem;
  height: 6rem;
  top: 27rem;
  left: 48rem;
  transform: rotate(-0.25turn);
}

.booster2{
  position: fixed;
  z-index: 1;
  width: 6rem;
  height: 6rem;
  top: 27rem;
  left: 81rem;
  transform: rotate(-0.25turn);
}
.start-container{
  width: 100%;
  height: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space-video{
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.start-title{
  font-size: 5rem;
  z-index: 1;
  color: white;
}

.start-text {
  animation: blinker 1s linear infinite;
  margin: auto;
  font-size: 10rem;
  color: white;
}

.button-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./components/images/Button.png");
  background-size: cover;
  width: 9rem;
  height: 3rem;
  cursor:pointer;
  color:#0ff;
  margin: auto;
}

.button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./components/images/Button.png");
  background-size: cover;
  width: 16rem;
  height: 5rem;
  cursor:pointer;
  color:#0ff;
  margin: auto;
}

.button2:hover {
 text-shadow: green 0 0 10px;
 font-size: large;
}


.button2:active{
  color: rgb(66, 252, 66);
  text-shadow: red 2px 2px 14px;
  font-size: large;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}



.bottom {
background-color: blue;
  height: 40%;
}

.bottom-title{

}



.message {
  z-index: 3;
  color: white;
}

.alien{
  width: 11rem;
}

.alien-name{
  color: rgb(66, 252, 66);
  font-size: 1.5rem;
}

.villain-health{
  font-size: 1.5rem;
  margin-right: 2rem;
  color: rgb(66, 252, 66);
}

.villain-attack{
  font-size: 1.5rem;
  margin-left: 2rem;
  color: rgb(66, 252, 66);
}

.villain-container{
  display: flex;
  align-items: center;
  z-index: 0;
  font-family: 'Audiowide', cursive;
  text-shadow: rgb(66, 252, 66) 0px 0px 30px;
  
}

.villain-bg{
  position: fixed;
  top: 32rem;
  left: 3.5rem;
  z-index: 0;
  width: 30.7rem;
  height: 14.7rem;
  background-image: url('./components/images/villain-bg.gif') ;
  background-size: 100%;
  background-position-x: center;
  background-position-y: 0%;
}

.locked{
  overflow: hidden;
}

.alien-name {
  font-size: 2rem;
}

.glow-middle {
  position: fixed;
  top: 11rem;
  left: 65rem;
  width: 5rem;
  height: 5rem;
  z-index: 1;
  border-radius:50%;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}
@keyframes glowing {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px cyan, 0 0 40px #0ff, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px green, 0 0 40px green, 0 0 50px green, 0 0 60px green, 0 0 70px green, 0 0 80px green;
  }
}

.glow-middle2 {
  position: fixed;
  top: 11rem;
  left: 65rem;
  width: 10rem;
  height: 10rem;
  z-index: 0;
  border-radius:50%;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}
@keyframes glowing {
  from {
    box-shadow: 0 0 10px rgb(255, 2, 2), 0 0 20px red, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px orange, 0 0 40px orange, 0 0 50px orange, 0 0 60px orange, 0 0 70px orange, 0 0 80px orange;
  }
}

.glow-middle3 {
  position: fixed;
  top: 13rem;
  left: 65.5rem;
  width: 3rem;
  height: 3rem;
  z-index: 0;
  border-radius:50%;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}
@keyframes glowing {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px cyan, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px orange, 0 0 40px orange, 0 0 50px orange, 0 0 60px orange, 0 0 70px orange, 0 0 80px orange;
  }
}

.glow-middle4 {
  position: fixed;
  top: 20rem;
  left: 50rem;
  width: 3rem;
  height: 3rem;
  z-index: 0;
  border-radius:50%;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}
@keyframes glowing {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px cyan, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px cyan, 0 0 40px cyan, 0 0 50px cyan, 0 0 60px cyan, 0 0 70px cyan, 0 0 80px cyan;
  }
}

.glow-middle5 {
  position: fixed;
  top: 10rem;
  left: 62rem;
  width: 9rem;
  height: 9rem;
  z-index: 0;
  border-radius:50%;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}
@keyframes glowing {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px cyan, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px cyan, 0 0 40px cyan, 0 0 50px cyan, 0 0 60px cyan, 0 0 70px cyan, 0 0 80px cyan;
  }
}

.glow-middle6 {
  position: fixed;
  top: 15rem;
  left: 62rem;
  width: 3rem;
  height: 3rem;
  z-index: 0;
  border-radius:50%;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}
@keyframes glowing {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px cyan, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px cyan, 0 0 40px cyan, 0 0 50px cyan, 0 0 60px cyan, 0 0 70px cyan, 0 0 80px cyan;
  }
}




